@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-overlay-0 {
  right: 60px !important;
  top: 60px !important;
  left: auto !important;
  position: fixed !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.save-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  animation: rotate 2s linear infinite;
}